[submodule "Communicator"]
	path = Communicator
	url = https://github.com/NekoNova/Communicator.git
[submodule "GeminiColor"]
	path = GeminiColor
	url = https://github.com/wildstarnasa/GeminiColor.git
[submodule "GeminiRichText"]
	path = GeminiRichText
	url = https://github.com/wildstarnasa/GeminiRichText.git
